@()(implicit messages: Messages, flash: Flash)

@if(flash.get("success").isDefined) {
  @base.common.components.flashmsgs.alertSuccess(Html(flash.get("success").get))
}

@if(flash.get("warning").isDefined) {
  @base.common.components.flashmsgs.alertWarning(Html(flash.get("warning").get))
}

@if(flash.get("info").isDefined) {
  @base.common.components.flashmsgs.alertInfo(Html(flash.get("info").get))
}

@if(flash.get("error").isDefined) {
  @base.common.components.flashmsgs.alertDanger(Html(flash.get("error").get))
}
