@(c: Comment)(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

<div class="comment media" data-comment="@c.id">
	@c.owner.map { owner =>
	<a class="comment__userpic" href="@routes.AccountsController.blog(owner.id, 1)">
		<img class="rounded-circle" style="width: 50px; height: 50px;" src="@owner.avatar.getOrElse(routes.Assets.versioned("images/avatar.png"))">
	</a>
	}
	<div class="comment__body media-body">
		<div class="comment__content media-content">@c.content</div>
		<div class="comment__panel">
			@c.owner.map { owner =>
				@ac.authorizedOpt.map { actor =>
					<button type="button" class="comment__button" data-action="reply" data-target="@c.id"><i class="fa fa-comment"></i>&nbsp;Ответить</button>
				}
			}
			<div class="comment__date">
				<i class="fa fa-calendar"></i>&nbsp;@c.createdPrettyTime
			</div>
			@c.owner.map { owner =>
				 <a href="@routes.AccountsController.blog(owner.id, 1)" class="comment__button"><i class="fa fa-user"></i>&nbsp;@owner.login</a>
			}
		</div>
		<div class="comment__replies">@commentsSequence(c.childs)</div>
	</div>
</div>
