@(account: Account)(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

@admin.common.contentMainPage(MenuState("app.admin.sidebar.account"), messages("app.admin.sidebar.account")) { } {

	@admin.common.cardInRowSingleColumn(messages("app.admin.sidebar.account")) {

		<ul class="list-group list-group-unbordered mb-3">
			<li class="list-group-item">
				<b>login</b> <a class="float-right">@account.login</a>
			</li>
			<li class="list-group-item">
				<b>email</b> <a class="float-right">@account.email</a>
			</li>
			<li class="list-group-item">
				<b>Зарегистрирован</b> <a class="float-right">@account.createdPrettyTime</a>
			</li>
			<li class="list-group-item">
				<b>Статус</b> <a class="float-right">Активный</a>
			</li>
		</ul>

	}

	@admin.common.cardInRowSingleColumn(messages("app.admin.sidebar.account.snaccounts")) {
		@admin.common.tableWithContent(
			"admin-snaccounts-table",
			Seq(messages("app.admin.sidebar.account.snaccounts.id"),
				messages("app.admin.sidebar.account.snaccounts.login"),
				messages("app.admin.sidebar.account.snaccounts.actions")),
			"table-bordered table-hover"
		) {

			@for(snAccount <- account.snAccounts) {
				<tr>
					<td>@snAccount.id</td>
					<td>@snAccount.login</td>
					<td>
						<div class="btn-group">
							@admin.common.abutton("btn-sm btn-primary btn-flat", "edit", routes.SNAccountsController.changeSNAccount(snAccount.id))
							@admin.common.abutton("btn-sm btn-danger btn-flat", "trash", routes.SNAccountsController.removeSNAccount(snAccount.id))
						</div>
					</td>
				</tr>
			}

		}
		<p class="mt-4 mb-2">
			<a class="btn btn-outline-primary" href="@routes.SNAccountsController.createSNAccount(account.id)" role="button">@messages("app.admin.snaccounts.add")</a>
		</p>
	}
} { }
