@(inForm: Form[_], menuState: MenuState, activeMenu: String, cardName: String)(htmlForm: Html)(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

@implicitVerticalFC = @{
	b4.vertical.fieldConstructor()
}

@admin.common.contentMainPage(menuState, activeMenu) {
	<link href="@routes.Assets.versioned("lib/github-com-Nodws-bootstrap4-tagsinput/tagsinput.css")" rel="stylesheet" media="screen">
} {
	@admin.common.cardInRowSingleColumn(cardName) {
		@htmlForm
	}
} {


	<script src="@routes.Assets.versioned("lib/ckeditor/ckeditor.js")" type="text/javascript"></script>

	<script src="@routes.Assets.versioned("lib/github-com-Nodws-bootstrap4-tagsinput/tagsinput.js")" type="text/javascript"></script>
	<script type="text/javascript">

		// -----------------------------------------------------------------------------------------------------------------
		// text editor
		// -----------------------------------------------------------------------------------------------------------------

		CKEDITOR.replace('txt-edit-content', {
			height: 500,
			extraPlugins: 'colorbutton, codesnippet, justify, font, colordialog',
			toolbarGroups: [
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
				{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
				{ name: 'links', groups: [ 'links' ] },
				{ name: 'insert', groups: [ 'insert' ] },
				{ name: 'styles', groups: [ 'styles' ] },
				{ name: 'colors', groups: [ 'colors' ] },
				{ name: 'tools', groups: [ 'tools' ] },
				{ name: 'others', groups: [ 'others' ] },
				{ name: 'document', groups: [ 'mode' ] }
			],

			removeButtons: 'Save,NewPage,Preview,Print,Templates,Cut,Undo,Redo,Copy,Paste,PasteText,PasteFromWord,Find,Replace,SelectAll,Scayt,Form,Radio,Checkbox,TextField,Textarea,Select,Button,ImageButton,HiddenField,CopyFormatting,RemoveFormat,CreateDiv,BidiLtr,BidiRtl,Language,Unlink,Anchor,Flash,Smiley,PageBreak,Iframe,ShowBlocks,About',

			filebrowserUploadUrl: '@routes.MediaController.upload'
		}).on("instanceReady", function(e) {
			var editor = e.editor;
			editor.on('fileUploadRequest', function(e) {
				e.data.requestData.file = e.data.requestData.upload;
				delete e.data.requestData.upload;
			});
			editor.on('fileUploadResponse', function(e) {
				e.stop();
				var data = e.data;
				var xhr = data.fileLoader.xhr;
				try {
					data.url = (JSON.parse(xhr.responseText)).location
				} catch (error) {
					data.message = error;
					e.cancel();
				}
			});
		});

		$('#txt-edit-content').attr('required', false);

		// -----------------------------------------------------------------------------------------------------------------
		// tags input
		// -----------------------------------------------------------------------------------------------------------------

		$('#tags').tagsinput();

	</script>

}

