@()(implicit flash: Flash, messages: Messages, sc: SessionContext, req: play.api.mvc.RequestHeader)

@app.common.main(None, "index") { } {
  @base.common.components.container() {

<div class="row posts-widget" id="posts-widget-1">
<div class="container">
<h4 class="mt-2 mb-1">Последние</h4>
<hr class="widget-div">
<div class="row" id="top-feed">
</div>
</div>
</div>


<div class="row posts-widget" id="posts-widget-2">
<div class="container">
<h4 class="mt-2 mb-1">Свежие</h4>
<hr class="widget-div">
<div class="row" id="center-feed">
</div>
</div>
</div>


<div class="row posts-widget" id="posts-widget-3">
<div class="container">
<h4 class="mt-2 mb-1">Лента</h4>
<hr class="widget-div">
<div class="row" id="after-center-feed">
</div>
</div>
</div>




  }
} {




}
